//@import "../styles/_style.variables";

$bg-colour: purple !default;

a-component {
  display: flex;
  flex-direction: column;
  padding: $padding;
  background-color: darken($bg-colour, 10%);

  > * {
    margin-bottom: 0.3rem;
  }
  h1 {
    text-transform: uppercase;
  }
}
