@import "../styles/_style.variables";

$bg-colour: purple !default;

a-component {
  display: flex;
  flex-direction: column;
  padding: $padding * 2;
  background-color: darken($bg-colour, 10%);

  > * {
    margin-bottom: $margin;
  }

  label {
    display: inline-block;
    margin-bottom: $margin / 2;
  }

  input {
    display: block;
  }
}
